@mixin remCalc($fontSize) {
   font-size: ($fontSize / 16) * 1rem;
}

@import "partials/setup.scss";
@import "partials/main.scss";
@import "partials/navigation.scss";
@import "partials/shows.scss";
@import "partials/showPage.scss";




img {
  width: 100%;
  display: block;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #333;

    h1{
      margin: 25 auto;
      padding-right: 20px;
    }
}