@import "partials/setup.scss";
@import "partials/main.scss";
@import "partials/navigation.scss";
@import "partials/shows.scss";



img {
  width: 100%;
  display: block;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;

    h1{
      margin: 25 auto;
    }
}