.show-page {
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    .showContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        border: 2px solid #efefef; 
        border-radius: 5px;
        padding: 5px;
        
        .show-image {
            width: 20%;
        }

        .show-details {
            width: 75%;
            text-align: justify;
            margin: 20px;


            h4, h5 {
                margin: 15px 0;
            }

            .genres {
                font-weight: 700;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                
                div {
                    width: 25%;
                    text-align: center;
                     @include remCalc(12);
                }
                .separator {
                color: lightgray;
                padding: 0 10px;
                }
            }

        }

    }
}

@media (max-width: 580px) {

        .show-page {
            .showContainer {
                .show-image {
                    width: 33%;
                    margin: 0 auto;
                }

                .show-details {
                    width: 85%;
                .genres {
                    
                    div {
                        width: 25%;
                        text-align: left;
                        margin-right: 20px;
                    }
                    .separator {
                    padding: 0 5px;
                    }    
                }
            }
        }
    }
}