.shows {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0 ;
    margin-top: 0;
    margin-right: 40px;
    text-align: center;
}

.TVitem {
    list-style: none;
    width: 24%;
    margin-bottom: 10px;
    background: #efefef;
    border: 2px solid #333;
    border-radius: 5px;
    transition: all 1s;
        &:hover {
           transform: scale(1.1);
        }

    .thumbnail {
        text-decoration: none;
    }

    h3 {
        color: black;
    }

    h4 {
       color: black;
        @include remCalc(12);

        span {
            color: grey;
        }
    }
}

.pagination{
    width: 45%;
    display: flex;
    flex: wrap;
    margin: 0 auto;
    justify-content: space-between;
    span {
       text-transform: uppercase; 
       padding-bottom: 15px;
        @include remCalc(14);
        align-self: center;
    }

    button {
        color: #333; /* Text color */
        background-color: transparent; /* Remove background color */
        border: 2px solid #333; /* Border thickness, line style, and color */
        border-radius: 5px; /* Adds curve to border corners */
        width: 100px;
        margin-bottom: 15px;

        &:hover {
            background-color: #efefef;
        }

    }
}


@media (max-width: 768px) {

    .TVitem {
        width: 33%;
    }
}

@media (max-width: 580px) {

    .TVitem {
        width: 48%;
    }

    .pagination {
        width: 80%;
    }
}