article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main {
  max-width: 95%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  flex-wrap: wrap; }

.sectionShows {
  margin-left: 20%; }

@media (max-width: 940px) {
  .sectionShows {
    margin-left: 25%; } }

@media (max-width: 580px) {
  .sectionShows {
    margin-left: 0; } }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  padding: 15px;
  max-height: 100vh; }
  .navigation .selection {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%; }
  .navigation .selection label {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555; }
  .navigation .slider {
    margin-bottom: 10px;
    width: 100%; }
  .navigation .slider label {
    color: #555;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize; }
  .navigation button {
    color: #333;
    /* Text color */
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
    padding: 10px 20px; }
    .navigation button:hover {
      background-color: #efefef; }

@media (max-width: 768px) {
  .navigation {
    width: 25%; } }

@media (max-width: 580px) {
  .navigation {
    width: 100%;
    position: static; }
    .navigation .selection {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 15px; }
    .navigation .slider {
      width: 55%;
      margin: 0 auto; }
    .navigation .search-button {
      width: 100%; }
      .navigation .search-button button {
        display: block;
        margin: 0 auto; } }

.shows {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 0;
  margin-right: 40px;
  text-align: center; }

.TVitem {
  list-style: none;
  width: 24%;
  margin-bottom: 10px;
  background: #efefef;
  border: 2px solid #333;
  border-radius: 5px;
  transition: all 1s; }
  .TVitem:hover {
    transform: scale(1.1); }
  .TVitem .thumbnail {
    text-decoration: none; }
  .TVitem h3 {
    color: black; }
  .TVitem h4 {
    color: black;
    font-size: 0.75rem; }
    .TVitem h4 span {
      color: grey; }

.pagination {
  width: 45%;
  display: flex;
  flex: wrap;
  margin: 0 auto;
  justify-content: space-between; }
  .pagination span {
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 0.875rem;
    align-self: center; }
  .pagination button {
    color: #333;
    /* Text color */
    background-color: transparent;
    /* Remove background color */
    border: 2px solid #333;
    /* Border thickness, line style, and color */
    border-radius: 5px;
    /* Adds curve to border corners */
    width: 100px;
    margin-bottom: 15px; }
    .pagination button:hover {
      background-color: #efefef; }

@media (max-width: 768px) {
  .TVitem {
    width: 33%; } }

@media (max-width: 580px) {
  .TVitem {
    width: 48%; }
  .pagination {
    width: 80%; } }

.show-page {
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }
  .show-page .showContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid #efefef;
    border-radius: 5px;
    padding: 5px; }
    .show-page .showContainer .show-image {
      width: 20%; }
    .show-page .showContainer .show-details {
      width: 75%;
      text-align: justify;
      margin: 20px; }
      .show-page .showContainer .show-details h4, .show-page .showContainer .show-details h5 {
        margin: 15px 0; }
      .show-page .showContainer .show-details .genres {
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        width: 100%; }
        .show-page .showContainer .show-details .genres div {
          width: 25%;
          text-align: center;
          font-size: 0.75rem; }
        .show-page .showContainer .show-details .genres .separator {
          color: lightgray;
          padding: 0 10px; }

@media (max-width: 580px) {
  .show-page .showContainer .show-image {
    width: 33%;
    margin: 0 auto; }
  .show-page .showContainer .show-details {
    width: 85%; }
    .show-page .showContainer .show-details .genres div {
      width: 25%;
      text-align: left;
      margin-right: 20px; }
    .show-page .showContainer .show-details .genres .separator {
      padding: 0 5px; } }

img {
  width: 100%;
  display: block; }

header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #333; }
  header h1 {
    margin: 25 auto;
    padding-right: 20px; }

.main {
  max-width: 95%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  flex-wrap: wrap; }

.sectionShows {
  margin-left: 20%; }

@media (max-width: 940px) {
  .sectionShows {
    margin-left: 25%; } }

@media (max-width: 580px) {
  .sectionShows {
    margin-left: 0; } }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  padding: 15px;
  max-height: 100vh; }
  .navigation .selection {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%; }
  .navigation .selection label {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555; }
  .navigation .slider {
    margin-bottom: 10px;
    width: 100%; }
  .navigation .slider label {
    color: #555;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize; }
  .navigation button {
    color: #333;
    /* Text color */
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
    padding: 10px 20px; }
    .navigation button:hover {
      background-color: #efefef; }

@media (max-width: 768px) {
  .navigation {
    width: 25%; } }

@media (max-width: 580px) {
  .navigation {
    width: 100%;
    position: static; }
    .navigation .selection {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 15px; }
    .navigation .slider {
      width: 55%;
      margin: 0 auto; }
    .navigation .search-button {
      width: 100%; }
      .navigation .search-button button {
        display: block;
        margin: 0 auto; } }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
